.clients_logo {
  width: 100%;
  .flex_boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: -10px;

    img {
      // width: 130px;
      margin: 0 50px;
      margin-top: 10px;
    }
  }
  .slider_items {
    padding:20px;
    transition: 300ms ;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100px;

    &:hover {
      transform: scale(1.3);
    }
    .slider_images {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;

   
    }
  }
}

@media screen and (max-width: 540px) {
  .clients_logo {
    .flex_boxes {
      margin-top: -25px;
      img {
        margin-top: 25px;
      }
    }
  }
  .slider_items {
    margin-bottom: 30px;
    .slider_images {
    }
  }
}
