.cls1{fill:#333;}
.cls2{fill:#787a8a;}
.cls3{fill:#fff;}
.cls4{font-size:16px;}
.cls5{letter-spacing:0em;}
.cls6{fill:#272a3d;}
.rounder {
    cursor: pointer;
    transition: all 300ms ease-in-out
}
