@import "../../styles/variable.scss";

.packages_wrapper {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  margin-top: 140px;
  box-shadow: 0 0 10px #d4d4d4;
  position:relative;

  .discount {
    position: absolute;
    top: -60px;
    right: -50px;
    cursor: pointer;
  }

  .packages_items {
    display: flex;
    flex-wrap: wrap;

    &:nth-child(2) {
      background-color: #f9f9f9;
      padding: 10px 0;
    }
    &:nth-child(3) {
      padding: 10px 0;

      .inner_items {
        display: flex;
        margin-top: -10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

      }
    }
    button,
    a {
      width: 100%;
      max-width: 300px;
      margin: 0 10px;
      margin-top: 10px;
    }
    a {
      color: $dark;
      border: solid 1px $dark;
     transition:.3s;
      padding: 8px 0;
      border-radius: 10px;
      text-align: center;

      &:hover {
        background-color: $dark;
        color: $clr-white;
        border: solid 1px $dark;
      }
    }
    .show_price {
      width: 100%;
      position: relative;
      padding-right: 50px;
      .tag {
        position: absolute;
        right: 60px;
        top: -5px;
        font-weight: bold;
        text-decoration: line-through;
      }
      h1 {
        width: max-content;
        margin-left: auto;
      }
    }
    .centralize_txt {
      div {
        text-align: center;
      }
    }
    .header_items {
      flex: 1;
      padding: 20px 0;
    }

    .inner_items {
      flex: 1;
      min-width: 300px;
      border-right: solid 1px rgba($color: $dark, $alpha: 0.2);
      padding: 30px;

      &:last-child {
        border-right: unset;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .packages_wrapper {
    height: fit-content;

    .discount {
      top: -40px;
      right: -10px;
      width: 100px;
    }
  }}

@media screen and (max-width: 540px) {
  .packages_wrapper {
    height: fit-content;

    .discount {
      top: -40px;
      right: 0;
      width: 100px;
    }

    .packages_items {
      .header_items {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: unset;
        margin: 0 0 20px 0;

        div {
          h3,
          h2 {
            margin-bottom: 0 !important;
          }
        }
      }
      .inner_items {
        min-height: fit-content;
        margin: 0 0 10px;

        div {
          h1,
          h3 {
            margin-bottom: 0;
          }
        }
        &:nth-child(1){
          margin-bottom: 0;
          padding-bottom: 0;
        }
        &:nth-child(2){
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
  }
}



