@import "../../styles/variable.scss";

.wizard_form_wrapper {
  width: 100vw;
  max-width: 700px;
  max-height: 500px;
  border-radius: 20px;
  background: $clr-white;
  // background: #cba8ff;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 50px 30px;
  position: relative;
  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 16px;
    color: black;
    cursor: pointer;
  }
  .details {
    display: flex;
    flex-direction: column;
    .inputs {
      input {
        width: 100%;
        min-height: 42px;
        box-shadow: 0 0 10px #d4d4d4;
        padding: 10px;
        margin: 0 0 20px 0;
        border-radius: 8px;
        outline: none;
        transition: 0.3s;
        // border: solid 2px transparent;

        &:focus {
          box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.411);
        }
      }
    }
  }

  .wizard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .gridWizard {
      display: grid;
      grid-template-columns: 40fr 70fr;
      grid-gap: 5px;
    }
    .cheel {
      img {
        width: 100%;
      }
    }
    .contentWrepper {
      margin-bottom: 20px;
      text-align:center;
      .header {
        margin-bottom: 30px;
      }
      .inputs {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 16px;
        line-height: 2;
        margin-top: 18px;
        .phoneNumber{
          a{
            color:black
          }
        }
        input {
          width: 100%;
          min-height: 42px;
          box-shadow: 0 0 10px #d4d4d4;
          padding: 10px;
          margin: 0 0 20px 0;
          border-radius: 8px;
          outline: none;
          transition: 0.3s;
          // border: solid 2px transparent;

          &:focus {
            box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.411);
          }
        }
      }
      .scrol {
        overflow-y: auto;
        height: 250px;
        padding-top: 10px;
        padding-right: 10px;
      }
    }
    .container {
      display: block;
      position: relative;
      padding-left: 26px;
      cursor: pointer;
      font-size: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-bottom: 15px;
      margin-left: 10px;
      padding: 10px 10px 10px 35px;
      box-shadow: 0 0 10px grey;
      border-radius: 6px;
    }

    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      // top: 0;
      left: 10px;
      height: 20px;
      width: 20px;
      background-color: #e9e3e3;
      border-radius: 50%;
      transition: 0.5s;
      // border: 1px solid black;
    }

    .container:hover input ~ .checkmark {
      background-color: $light-gray;
    }

    .container input:checked ~ .checkmark {
      background-color: $dark;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .container input:checked ~ .checkmark:after {
      display: block;
    }

    .container .checkmark:after {
      top: 7px;
      left: 7px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
    }
  }

  .submit_action {
    width: max-content;
    // margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .bacButton {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
      }
    }
    svg {
      width: 220px;
      margin-top: 20px;
    }
    button {
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .wizard_form_wrapper {
    width: calc(100vw - 20px);
    .wizard {
      overflow-y: auto;
      .gridWizard {
        grid-template-columns: 1fr;
        .cheel {
          text-align: center;
          img {
            max-width: 200px;
          }
        }
        .contentWrepper {
          padding: 0px 10px;
          & > h1 {
            margin-bottom: 10px !important;
          }
          .scrol {
            overflow: unset;
            height: 100%;
          }
        }
      }
      .cheel {
        position: absolute;
        width: 30px;
        top: 8px;
        left: 45%;
      }
      .submit_action {
        flex-direction: column;
        margin-top: 35px;
      }
      .bacButton {
        position: absolute;
        top: 14px;
        left: 18px;
        width: 25px;
        img {
          width: 25px;
        }
      }
      .offerimg {
        &::after {
          width: 95%;
          height: 80px;
          right: 10px;
          top: -25px;
        }
      }
    }
  }
}
