@import "../../styles/variable.scss";

.packages_wrapper {
  width: 100%;
  .page_title_wrapper {
    background-color: $dark;
  }

  .packages_flex_row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    > div {
      margin: 10px;
    }
  }
}
